/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 nov. 2022, 09:10:50
    Author     : NISRINE EL
*/

body {
 font-family:"trebuchet ms",sans-serif;
 font-size:100%;
 }
form {
 background-color:#FAFAFA;
 padding:30px;
 width:300px;
 }
fieldset {
 padding:0 20px 20px 20px;
 margin-bottom:20px;
 border:1px solid #DF3F3F;
 }
legend {
 color:#DF3F3F;
 font-weight:bold
 }
label {
 margin-top:30px;
 display:block;
 }
label.inline {
 display:inline;
 margin-right:200px;
 }
input, textarea, select, option {
 background-color:#FFF3F3;
 }
input, textarea, select {
 padding:3px;
 border:1px solid #F5C5C5;
 border-radius:5px;
 width:200px;
 box-shadow:2px 2px 4px #C0C0C0 inset;
 }
select {
 margin-top:50px;
 }
input[type=radio] {
 background-color:transparent;
 border:none;
 width:20px;
 }
input[type=submit], input[type=reset] {
 width:200px;
 margin-left:10px;
 box-shadow:2px 2px 2px #D83F3D;
 cursor:pointer;
 }
.fit-picture {
    width: 250px;
}